name: Check TFLint
on:
  push:
    branches:
      - "**"
    paths:
      - '**.tf'
  pull_request:

jobs:
  tflint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Cache plugin dir
        uses: actions/cache@v3
        with:
          path: ~/.tflint.d/plugins
          key: ubuntu-latest-tflint-${{ hashFiles('./terraform/.tflint.hcl') }}
          
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v1
        with:
          tflint_version: v0.35.0

      - name: Run TFLint
        working-directory: ./terraform
        run: |
          tflint --version
          tflint --init
          tflint -f compact

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
     
      - name: Terraform Format
        id: fmt
        working-directory: ./terraform
        run: terraform fmt -check

      - name: Wrong formatting found
        if: ${{ failure() && steps.fmt.outputs.failure-reason == 'check-failed' }}
        run: echo "Terraform formatting check failed"
      
